/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div#search-container {
    text-align: center;
}

input#searchbar {
    width: 500px;
    height: 45px;
    font-size: 14px;
}

ul#algorithm-selector {
    padding-left: 0;
}

li {
    display: inline;
    list-style-type: none;
}

input#submit-btn {
    -webkit-appearance: none;
    height: 30px;
    width: 250px;
} */

div#search-container {
    padding-top: 50px;
}

ul#algorithm-selector {
    padding-left: 0;
    margin-top: 15px;
}
